TANGO_DB_HOST=192.168.1.x
TANGO_DB_PORT=1433
TANGO_DB_NAME=tango_empresa
TANGO_DB_USER=usuario
TANGO_DB_PASSWORD=password
LOCAL_DB_PATH=./data/distribuidora.db
EMPRESA_NOMBRE=Roberto Rojas
EMPRESA_CUIT=XX-XXXXXXXX-X
EMPRESA_DIRECCION=Casa Central
